.form-input[type='email'],
.form-input[type='password'] {
  border: 1px solid var(--lynx-grey);
  transition: all 0.5s ease;
  border-radius: 5px;
  padding: 10px;
}

.form-input:focus {
  border: 1px solid var(--action-color);
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}
